.navbar-item{
    float: left;
    width: 33.3%;
    background-color: grey;
    text-align: center;
}

.navbar-item:hover{
    background-color: brown;
}

.navbar-item:active{
    background-color: beige;
}

h2{
    margin: 0;
}