html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  font-family: "Arial Black", "微軟正黑體";
}

#show {
  text-align: center;
  position: relative;
  border-radius: 10px;
  align-content: center;
}

#Date {
  font-size: 28px;
}
#UTC {
  font-size: 24px;
}
#Time, #timer, #alarm_time {
  text-align: center;
  font-size: 60px;
}
