html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  font-family: "Arial Black", "微軟正黑體";
  background-color: rgba(255, 178, 3, 0.9);
}

#Clock, #Count, #Alarm {
  display: none;
}

h1 {
  color: black;
  margin: 0 0 1rem 0;
}

.show{
  text-align: center;
  border-radius: 10px;
  background-color: rgba(30, 140, 255, 0.9);
  color: orangered;//cadetblue
}

#Date {
  font-size: 2rem;
}

#UTC {
  color: darkorange;
}

#Time {
  position: relative;
  padding: 10px;
  top: 50%;
  font-size: 3rem;
}

p {
  font-size: inherit;
}

#pages {
  position: fixed;
  top: 90%;
  left: 0%;
  height: 10%;
  width: 100%;
  background-color: mediumpurple;
}

#toClock, #toCount, #toAlarm {
  position: relative;
  width: 30%;
  display: inline-block;
  padding: 10px 28px;
  margin: 6px;
}
